// Configurable variables
params {
    project = 'sites'
    sexchroms = 'X,Y'
    outdir = './results'
    exclude = "~^HLA,~^hs,~:,~^GL,~M,~EBV,~^NC,~^phix,~decoy,~random\$,~Un,~hap,~_alt\$"

    // preserves more variants from being filtered
    sensitive = false

    // covviz report
    // the point at which we determine a sample is an outlier from the group at any given point
    zthreshold = 3.5
    // when calculating significance, the Z-score has to be above the threshold for consecutive points up to the total distance set by distance threshold
    distancethreshold = 150000
    // slop is the distance to add to traces when plotting -- without slop, it's not always clear what happens to the points immediately flanking the area of significant deviation
    slop = 500000
    // show all traces when analyzing this few samples; ignores z-threshold, distance-threshold, and slop
    minsamples = 8

    // somalier QC
    // custom ped file, used to supplement ped of indexcov
    ped = false
    // column of sample IDs in your custom ped file
    samplecol = 'sample_id'
}

process {
    time = '12h'
    memory = 8.GB
    cpus = 1
    container = 'brentp/smoove:v0.2.5'
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: smoove_call {
        memory = { 8.GB * task.attempt }
    }
    withName: smoove_merge {
        memory = 16.GB
        cache = 'deep'
    }
    withName: smoove_genotype {
        memory = { 8.GB * task.attempt }
    }
    withName: smoove_square {
        memory = 64.GB
        cpus = 3
        cache = 'deep'
    }
    withName: run_indexcov {
        memory = 8.GB
        cache = 'deep'
    }
    withLabel: 'somalier' {
        container = 'brentp/somalier:v0.2.6'
        memory = { 4.GB * task.attempt }
    }
    withLabel: 'covviz' {
        container = 'brwnj/covviz:v1.1.4'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/logs/dag.svg"
}

manifest {
    name = 'brwnj/smoove-nf'
    author = 'Joe Brown'
    description = "run smoove smoover and with additional QC"
    version = '1.1.2'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/smoove-nf'
    mainScript = 'main.nf'
}
