/* params {
    project = "CEPH-subset"
    excludechroms = "hs37d5,~:,~^GL,~decoy,~random\$,~chrUn,~_alt\$"
    bed = "/scratch/ucgd/lustre/u6000771/Projects/2018/smoove-CEPH/ceph18.b37.lumpy.exclude.2014-01-15.bed"
    fasta = "/uufs/chpc.utah.edu/common/home/u6000771/bcbio/genomes/Hsapiens/g1k_v37_decoy/seq/g1k_v37_decoy.fa"
    bams = "/scratch/ucgd/lustre/work/u6022494/CEPH-subset/bams/*.bam"
    outdir = "/scratch/ucgd/lustre/work/u6022494"
}
*/

params {
    project = "janssen-jia"
    bed = "s3://base2-dev/assets/ceph18.b37.lumpy.exclude.2014-01-15.bed.gz"
    fasta = "s3://base2-dev/assets/g1k_v37_decoy/g1k_v37_decoy.fa"
    excludechroms = "hs37d5,~:,~^GL,~decoy,~random\$,~chrUn,~_alt\$"
    bams = "s3://base2-dev/projects/janssen-jia/crams/R*71230*.cram"
    outdir = "s3://base2-dev/projects/testing/"
}

profiles {
    kp {
        process {
            executor = 'slurm'
            queue = 'quinlan-shared-kp'
            time = '12h'
            memory = 8.GB
            scratch = '/scratch/local'
            clusterOptions = '--account=quinlan-kp --ntasks=1'
            container = 'brentp/smoove:v0.2.2'
        }
        singularity {
            enabled = true
            cacheDir = '/scratch/ucgd/lustre/work/u6022494/imgs'
            runOptions = '--bind /scratch --bind /uufs'
        }
    }
    local {
        process {
            executor = 'local'
            scratch = '/scratch/local/u6022494'
            container = 'brentp/smoove:latest'
        }
        singularity {
            enabled = true
            cacheDir = '/scratch/ucgd/lustre/work/u6022494/imgs'
            runOptions = '--bind /scratch --bind /uufs'
        }
    }
    batch {
        process {
            executor = 'awsbatch'
            queue = 'i3-nf'
            container = 'brentp/smoove:v0.2.2'
            cpus = 1
            memory = 8.GB
            scratch = '/tmp'
            withName: smoove_merge { memory = 15.GB }
            withName: smoove_square { memory = 45.GB }
        }
    }
}

aws {
    region = 'us-east-1'
}

executor {
    awscli = '/home/ec2-user/miniconda/bin/aws'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/smoove_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/smoove_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/smoove_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/logs/smoove_dag.svg"
}

manifest.mainScript = 'smoove.nf'
