// Configurable variables
params {
    project = 'sites'
    sexchroms = 'X,Y'
    outdir = './results'
    exclude = "hs37d5,~:,~^GL,~^MT,~^NC,~^hs37d5,~^phix,~decoy,~random\$,~chrUn,~_alt\$"
    // applies to covviz report
    zthreshold = 3.5
    distancethreshold = 150000
    slop = 500000
}

process {
    time = '12h'
    memory = 8.GB
    cpus = 1
    container = 'brentp/smoove:v0.2.3'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/logs/dag.svg"
}

manifest {
    name = 'brwnj/smoove-nf'
    author = 'Joe Brown'
    description = "run smoove smoover and with additional QC packaged"
    version = '1.0.2'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/smoove-nf'
    mainScript = 'main.nf'
}
